html(lang="en" style={'background-color': 'grey'})
  head
    title=title
  body(style={ 'background-color': 'white', 'padding':'20px', 'margin': '50px auto', 'width': '50%' })
    .container
        h1 Add a new book to library
        form(action="/newbook", method="POST")
        p Book Title:
          input(type="text")
        p Book Author
          input(type="text")
    a(href='/') Save